<div class="flex flex-col px-8 py-10 w-screen">
    <p class="text-primary text-[30px] font-bold">My Cart (2 products)</p>
    <div class="flex mt-5 gap-5">
        <div class="w-[70%]">
            <div class="flex py-3 border-[0.5px] border-primary rounded-[5px] items-center">
                <div class="flex ml-3 items-center">
                    <input id="default-checkbox" type="checkbox" value=""
                        class="w-[25px] h-[25px] text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="default-checkbox" class="ms-2 text-[18px] font-medium text-gray-900 dark:text-gray-300">
                        Select All (2 products)
                    </label>
                </div>
                <div class="flex flex-1 ml-[400px] justify-between mr-8">
                    <p class="text-[18px] font-medium">Quantity</p>
                    <p class="text-[18px] font-medium mr-[40px]">Total</p>
                </div>
            </div>
            <div class="mt-5">
                <p>dạkdsahjsd</p>
            </div>
        </div>

        <div class="flex flex-1 border-[0.5px] border-primary rounded-[5px] py-2 px-5">
            <div class="flex flex-1 flex-col gap-3">
                <div class="flex justify-between">
                    <p class="text-[18px] font-medium">Subtotal</p>
                    <p class="text-[18px] font-medium text-placeholder">0 $</p>
                </div>
                <!-- <div class="flex justify-between">
                    <p class="text-normal font-medium">Subtotal</p>
                    <p class="text-normal font-medium text-placeholder">0 $</p>
                </div> -->
            </div>
        </div>
    </div>
</div>