.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    background: #fff;
    justify-content: space-between;
  }

  .link {
    margin-right: 20px;
    color: #000;
    text-decoration: none;
  }
  .home-link{
    flex-direction: row;
    display: flex;
  }
  .home-link text{
      font-size: 22px;
      color: #125B9A;
  }
  .link-icon{
    height: 20px;
    width: 40px;
  }
  .link:hover,
  .link:focus {
    color: #1098f7;
  }