/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

body {
    background-color: white;
    font-family: "Merriweather", serif;
}

button {
    font-family: "Merriweather", serif;
    background-color: #125B9A;
    color: #fff;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #007bff;
    }
}