<div class="container">
    <div class="main-title">My Order Detail</div>

    <section class="order-info">
        <div class="section-title">Receiver Information</div>
        <div class="info-grid">
            <div class="label">Receiver Name:</div>
            <div class="value">{{orderDetail.order.name}}</div>

            <div class="label">Numberphone:</div>
            <div class="value">{{orderDetail.order.phone}}</div>

            <div class="label">Address:</div>
            <div class="value price">{{orderDetail.order.address}}</div>
        </div>
    </section>

    <section class="order-info">
        <div class="section-title">Order Information</div>
        <div class="info-grid">
            <div class="label">OrderID:</div>
            <div class="value">{{orderDetail.order.orderID}}</div>

            <div class="label">Created Date:</div>
            <div class="value">{{formatDate(orderDetail.order.timeCreated)}}</div>

            <div class="label">Total Price:</div>
            <div class="value price">{{orderDetail.order.totalPrice}} $</div>
        </div>
    </section>

    <section class="angular-product-list">
        <h2 class="section-title">Product List</h2>
        @for (item of orderDetail.products; track $index) {
        <div class="agl-product-card">
            <div class="agl-product-info">
                <img [src]="item.product.images[0].imageURL" [alt]="item.product.productName" class="product-image">
                <div class="product-details">
                    <h3 class="agl-product-name">{{item.product.productName}}</h3>
                    <p class="quantity">Quantity: {{item.quantity}}</p>
                    <p class="price">{{item.product.price}}</p>
                </div>
            </div>
        </div>
        }
    </section>

    <section class="order-info">
        <div class="section-title">Delivery Information</div>
        <div class="info-grid">
            <div class="label">Delivery Method:</div>
            <div class="value">{{orderDetail.order.deliveryMethod}}</div>

            <div class="label">Total Price:</div>
            <div class="value price">{{orderDetail.order.shippingCost}} $</div>
        </div>
    </section>
</div>